@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "MortgageCalculator";
}

<div class=wrapper>
    <form class="form-horizontal" role="form" name="myForm">
        <div id="divPaymentAmt" class="alert alert-success" style="display:none"></div>
        <div class="form-group required">
            <label class="control-label col-sm-3" for="txtMortgageAmt">@Resources.Content.MortgageAmount</label>
            <div class="col-sm-9">
                <input type=text id="txtMortgageAmt" class="form-control" maxlength=9 autofocus placeholder="@Resources.Content.TipsMortgageAmount" />
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label col-sm-3" for="txtInterestRate">@Resources.Content.InterestRate</label>
            <div class="col-sm-9">
                <input type=text id="txtInterestRate" class="form-control" maxlength=4 placeholder="@Resources.Content.TipsInterestRate" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="ddlPaymentFrequency">@Resources.Content.PaymentFrequency</label>
            <div class="col-sm-9">
                <select id="ddlPaymentFrequency" class="form-control">
                    <option value="12">@Resources.Content.Monthly</option>
                    <option value="24">@Resources.Content.SemiMonthly</option>
                    <option value="26">@Resources.Content.Biweekly</option>
                    <option value="52">@Resources.Content.Weekly</option>
                    <option value="28">@Resources.Content.AcceleratedBiWeekly</option>
                    <option value="56">@Resources.Content.AcceleratedWeekly</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="ddlAmortizationPeriod">@Resources.Content.AmortizationPeriod</label>
            <div class="col-sm-9">
                <select id="ddlAmortizationPeriod" class="form-control">
                    @for (var i = 1; i <= 30; i++)
                    {
                        <option value="@i">@i&nbsp;@Resources.Content.Year</option>;
                    }
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-success" id=btnCalculate data-state="Calculate">@Resources.Content.Calculate</button>
            </div>
        </div>
        <div id="detail"></div>
    </form>
</div>
<input type=hidden id=hidActiveMenu value="hypTool" />
<input type=hidden id=hidStateCalculate value="@Resources.Content.Calculate" />
<input type=hidden id=hidStateStartOver value="@Resources.Content.StartOver" />
@Scripts.Render("~/Scripts/App/MortgageCalculator")

